@media (max-width: 1600px) {
  .section_4_div {
    gap: 50px;
  }
}

@media (max-width: 1350px) {
  .arrow_1 {
    display: none;
  }
  .arrow_2 {
    display: none;
  }
  .section_4_div_lites h5 {
    padding: 5% 6%;
  }
}

@media (max-width: 1200px) {
  /* PAGE 1 */
  .section_4_div {
    flex-wrap: wrap;
  }

  /* PAGE 3 */
  .iframe_lite {
    flex-direction: column;
    row-gap: 85px;
  }
  .iframe_lite div {
    padding-left: 30px;
  }
}

@media (max-width: 1040px) {
  header {
    padding: 26px 7%;
  }

  .section_2 {
    padding: 110px 0;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
  }

  .section_2_div {
    flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 30%;
    row-gap: 60px;
  }

  .section_3 {
    padding: 96px 10%;
  }

  .grid_father img:nth-child(3) {
    display: none;
  }

  .grid_father img:last-child {
    display: none;
  }

  .grid_father img {
    height: 37vw;
  }

  .grid_father {
    display: flex;

    flex-direction: column;
  }

  /* PAGE 2 */

  .shop_cards_1 .lite_cards:nth-child(4) {
    display: none;
  }
  .shop_cards_1 .lite_cards:last-child {
    display: none;
  }

  .artwork_section_2 {
    padding: 80px 0;
  }
  .search_div {
    flex-direction: column;
    row-gap: 25px;
  }
  .search_input {
    width: 310px;
    height: 5vw;
  }
  .search_button {
    width: 140px;
    height: 5vw;
  }
  .sort_div {
    gap: 30.4vw;
  }
  .shop_cards_1 {
    grid-template-columns: 1fr 1fr;
    gap: 95px;
  }

  .lite_cards img {
    width: 290px;
    height: 200px;
  }
  .name_p {
    font-size: 16px;

    margin-top: 24px;
    margin-bottom: 28px;
  }
  .price_div {
    gap: 183px;
  }
  .price_div p {
    font-size: 24px;
  }
  .lite_cards ion-icon {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 978px) {
  .section_1_div h2 {
    font-size: 32px;
  }
}

@media (max-width: 900px) {
  .burger_a {
    display: block;
  }

  .section_1 .menu_bar {
    top: 19.5%;
  }
  .contact_section_1 .menu_bar {
    top: 19.5%;
  }

  .menu_bar {
    display: flex;
  }

  .burger_a ion-icon {
    width: 32px;
    height: 32px;
    color: #ffff;
  }

  .header_title {
    text-align: center;
  }
  .header_title span {
    display: block;
  }

  .header_ul {
    display: none;
  }

  .section_1_div {
    width: 100%;
  }

  .section_1_div_p_1 {
    width: 80%;
    margin-top: 12px;
    margin-bottom: 50px;
  }

  .section_1_button {
    padding: 18px 80px;
  }

  .section_4 {
    padding: 80px 5%;
  }

  .section_4 h4 {
    font-size: 36px;
    margin-bottom: 32px;
  }

  .section_4_div {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .section_4_div_lites img {
    width: 79vw;
    height: 50vw;
  }
  .section_4_div_lites h5 {
    left: 5%;
    top: 82%;
    padding: 2.4% 4%;
  }
  .hide {
    display: none;
  }
  .section_4 button {
    display: block;
  }

  .article_1 {
    padding: 80px 0;
  }

  .article_1 h3 {
    font-size: 32px;
  }

  .article_div_lite {
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 40px;
    row-gap: 30px;
  }

  .cards {
    width: 83%;
  }

  .article_1 h5 {
    text-align: center;
  }

  .article_1 button {
    padding: 1.2% 3.7%;
  }

  footer {
    flex-direction: column;
    align-items: center;
    row-gap: 45px;
  }
  .footer_div_1 {
    text-align: center;
  }
  .footer_div_2 {
    align-items: center;
  }

  /* PAGE 3 */

  .contact_section_2 {
    padding: 160px 57px;
  }
  .contact_div_lite {
    width: 100%;
  }
  iframe {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .artwork_section_1 {
    height: 320px;
  }
  .art_sect_div1 h2 {
    font-size: 6.7vw;
  }
  .art_sect_div1 {
    row-gap: 25px;
    padding-top: 150px;
  }
  .shop_cards_1 .lite_cards:nth-child(5) {
    display: none;
  }
  .shop_cards_1 .lite_cards:nth-child(6) {
    display: none;
  }
  .shop_cards_1 .lite_cards:nth-child(7) {
    display: none;
  }
  .artwork_section_2 {
    padding: 65px 10px;
  }
  .search_button {
    height: 7.7vw;
    width: 22.33vw;
  }
  .search_input {
    width: 39.92vw;
    height: 7.7vw;
  }
  .sort_div {
    margin: 40px 0;
    gap: 135px;
  }
  .sort_div h3 {
    font-size: 4.66vw;
  }

  .shop_cards_1 {
    display: flex;
    flex-direction: column;
  }
  .lite_cards img {
    width: 366px;
    height: 240px;
  }
  .price_div {
    gap: 260px;
  }
}

@media (max-width: 569px) {
  .section_1 {
    height: 400px;
  }
  .section_1 .menu_bar {
    top: 27%;
  }
  .artwork_section_1 .menu_bar {
    top: 12.4%;
  }
  .contact_section_1 .menu_bar {
    top: 19.3%;
  }

  header {
    padding: 10px 20px;
  }

  .section_1_div {
    top: 60%;
  }
  .section_1_div_p_1 {
    margin-top: 12px;
    margin-bottom: 22px;
  }
  .section_1_button {
    padding: 15px 41px;
  }

  .section_2 {
    padding: 64px 0;
  }
  .section_2_div img {
    width: 27.2vw;
    height: 20vw;
  }

  .section_2_div p {
    font-size: 16px;
    margin-top: 8px;
  }

  .section_3 {
    padding: 32px 4.3%;
  }
  .section_3 h3 {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .grid_father {
    row-gap: 20px;
  }
  .grid_father img {
    height: 50vw;
  }

  .section_4 {
    padding: 64px 5%;
  }

  .section_4 h4 {
    font-size: 32px;
    margin-bottom: 28px;
  }

  .section_4_div_lites h5 {
    top: 75%;
    padding: 3% 4%;
  }

  .section_5 {
    height: 200px;
  }
  .section_5_div h6 {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .section_5_input {
    width: 195px;
  }

  /* PAGE 3 */
  .contact_section_1 {
    height: 560px;
  }
  .contact_section_form h2 {
    font-size: 32px;
  }

  .contact_section_form {
    padding: 24px 20px;
    left: 50%;
    top: 59%;
    transform: translate(-50%, -50%);
  }
  .contact_section_2 {
    padding: 64px 57px;
  }
}

@media (max-width: 480px) {
  .section_1 {
    background-image: url(../photos/Rectangle\ 109.png);
  }
  .menu_bar {
    width: 50vw;
    height: 33.334vw;
  }
  .header_title {
    font-size: 8vw;
  }
  span {
    font-size: 8vw;
  }
  .section_1_div h2 {
    width: 83%;
    font-size: 6.6vw;
    text-align: center;
  }
  .section_1_div_p_1 {
    width: 94%;
  }
  .section_1_button {
    padding: 3% 9%;
  }

  .section_5_div h6 {
    font-size: 7vw;
  }
  .section_5_input {
    width: 40.6vw;
  }
  .section_5_button {
    width: 31.5vw;
    font-size: 3.5vw;
  }

  .article_1 button {
    padding: 14px 41px;
  }
  .article_1 h3 {
    text-align: center;
  }
  .article_1 h5 {
    width: 82%;
  }
  /* PAGE 2 */

  .artwork_section_1 {
    background-image: url(../photos/Rectangle\ 110.png);
  }

  .search_input {
    width: 42.92vw;
    height: 11.67vw;
  }

  .search_button {
    width: 33.33vw;
    height: 11.67vw;
  }

  .sort_div {
    gap: 63px;
  }

  .sort_div h3 {
    font-size: 6.67vw;
  }
  .shop_cards_1 {
    row-gap: 44px;
  }
  .lite_cards img {
    height: 240px;
    width: 100%;
  }
  .price_div {
    display: inherit;
  }
  .price_div p {
    display: inline-block;
    margin-right: 56.3vw;
    vertical-align: middle;
  }
  .lite_cards ion-icon {
    vertical-align: middle;
  }

  .main_div {
    width: 54vw;
    height: 6.7vw;
    margin-top: 48px;
  }
  .main_div div {
    width: 32px;
    height: 32px;
  }
  .main_div ion-icon {
    font-size: 4.2vw;
  }

  /* PAGE 3 */

  .contact_section_form {
    width: 91.668vw;
  }
  .contact_section_form h2 {
    width: 82.917vw;
  }
  .contact_section_form div input {
    width: 38vw;
  }
  .contact_section_form textarea {
    width: 82.917vw;
  }
  .contact_section_form button {
    width: 30.625vw;
  }
  .contact_section_2 h3 {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .iframe_lite {
    row-gap: 24px;
  }
}

@media (max-width: 395px) {
  .search_input {
    width: 49.92vw;
  }
  .contact_section_form div {
    gap: 20px;
  }
  .contact_section_form div input {
    width: 47%;
  }
  .contact_section_form textarea {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .section_2_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .section_2_div p {
    width: 98%;
  }

  /* PAGE 2 */
  .search_input {
    width: 53.92vw;
    height: 14vw;
  }
  .search_button {
    height: 14vw;
  }
  .sort_div h3 {
    text-align: center;
  }
}
